
*.vsidx
AiVisionCodeOrganizador/.vs/AiVisionCodeOrganizador/v17/.suo
AiVisionCodeOrganizador/AiVisionCodeOrganizador.csproj
AiVisionCodeOrganizador/bin/Release/AiVisionCodeOrganizador-Interface.zip
AiVisionCodeOrganizador/bin/Release/AiVisionCodeOrganizador.application
AiVisionCodeOrganizador/bin/Release/AiVisionCodeOrganizador.exe.manifest
AiVisionCodeOrganizador/bin/Release/AiVisionCodeOrganizador.exe
AiVisionCodeOrganizador/bin/Release/AiVisionCodeOrganizador.pdb
AiVisionCodeOrganizador/obj/Release/AiVisionCodeOrganizador.application
AiVisionCodeOrganizador/bin/Release/app.publish/AiVisionCodeOrganizador.exe
AiVisionCodeOrganizador/obj/Release/AiVisionCodeOrganizador.csproj.GenerateResource.cache
AiVisionCodeOrganizador/obj/Release/AiVisionCodeOrganizador.exe
AiVisionCodeOrganizador/obj/Release/AiVisionCodeOrganizador.exe.manifest
AiVisionCodeOrganizador/obj/Release/AiVisionCodeOrganizador.pdb
AiVisionCodeOrganizador/publish/AiVisionCodeOrganizador.application
AiVisionCodeOrganizador/publish/Application Files/AiVisionCodeOrganizador_2_0_0_0/AiVisionCodeOrganizador.application
AiVisionCodeOrganizador/publish/Application Files/AiVisionCodeOrganizador_2_0_0_0/AiVisionCodeOrganizador.exe.deploy
AiVisionCodeOrganizador/publish/Application Files/AiVisionCodeOrganizador_2_0_0_0/AiVisionCodeOrganizador.exe.config.deploy
AiVisionCodeOrganizador/publish/Application Files/AiVisionCodeOrganizador_2_0_0_0/AiVisionCodeOrganizador.exe.manifest
AiVisionCodeOrganizador/publish/Application Files/AiVisionCodeOrganizador_2_0_0_0/icone_pasta.ico.deploy
AiVisionCodeOrganizador/publish/Application Files/AiVisionCodeOrganizador_2_0_0_0/Ookii.Dialogs.Wpf.dll.deploy
*.exe
